In [5]:
import pandas as pd
import requests
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')
pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,80.704,8.708,27833
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,80.976,8.689,21125
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,43.300,8.570,12751
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,42.530,8.567,16198
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,31.672,8.500,8937
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,41.305,8.500,16879
6,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,22.621,8.520,4465
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,74.010,8.500,33504
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,40.501,8.500,17872
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,62.870,8.502,18750
10,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,51.398,8.500,28399
11,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,42.434,8.487,11625
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,69.140,8.481,24764
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,46.141,8.468,27922
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,32.535,8.500,8837
15,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,17.752,8.500,3813
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,33.511,8.500,13158
17,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,100.309,8.500,36655
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.038,8.452,5758
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,30.322,8.446,13224

In [ ]:

df=pd.DataFrame()
df_list = []  
for i in range(1, 429):
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}')
    
    if response.status_code == 200:  # Check if request was successful
        new = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
        df_list.append(new)
    else:
        print(f"Error fetching page {i}, status code: {response.status_code}")

# Concatenating all DataFrames at once
df = pd.concat(df_list, ignore_index=True)

# Display first 5 rows
print(df.head())

    id                     title  \
0  278  The Shawshank Redemption
1  238             The Godfather
2  240     The Godfather Part II
3  424          Schindler's List
4  389              12 Angry Men

                                            overview release_date  popularity  \
0  Imprisoned in the 1940s for the double murder ...   1994-09-23      80.704
1  Spanning the years 1945 to 1955, a chronicle o...   1972-03-14      80.976
2  In the continuing saga of the Corleone crime f...   1974-12-20      43.300
3  The true story of how businessman Oskar Schind...   1993-12-15      42.530
4  The defense and the prosecution have rested an...   1957-04-10      31.672

   vote_average  vote_count
0         8.708       27833
1         8.689       21125
2         8.570       12751
3         8.567       16198
4         8.500        8937

In [12]:
df.shape

(8560, 7)

In [13]:
df.to_csv('movies.csv')